# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:        
        java: [ '17' ]
        runs-on: [ubuntu-latest, macos-11, windows-latest]

    name: Test on Java ${{ matrix.Java }} on ${{ matrix.runs-on }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a single command
        run: echo Hello, world!

      - name: Run a script
        if: ${{ matrix.runs-on == 'windows-latest' }}
        run: |
            ./jnml.bat

      - name: Run env
        run: |
           env
           df -h
           du -h
           

      - name: Test graphviz
        if: ${{ matrix.runs-on != 'windows-latest' }}
        run: |
          if [[  ${{ matrix.runs-on }} == *"macos"* ]]; then brew install graphviz ; fi
          if [[  ${{ matrix.runs-on }} == *"ubuntu"* ]]; then sudo apt install graphviz ; fi
          dot -V

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        env: 
          HH: "Hodgk ${GITHUB_REF_NAME} Hux"
        run: |
          echo "Add other actions to build,"
          echo "test, and deploy your project."
          echo "this > ${{ env.HH }} < is it"
          echo "this > ${{ env.GITHUB_REF_NAME }} < is it too"
          echo "this > ${GITHUB_REF_NAME} < is it too?"
          echo "this > %GITHUB_REF_NAME% < is it too?"
          echo "this > $HH < is it 3?"
          echo "this > $env:HH < is it 4?"
          echo "------------------"
          env
         
      - name: Run non win only
        if: ${{ matrix.runs-on != 'windows-latest' }}
        run: | 
          if [[  ${{ matrix.Java }} == *"17"* ]]; then argz=-nogui ; fi
          echo "this > $argz < .. "
          
      - name: Run win only
        if: ${{ matrix.runs-on == 'windows-latest' }}
        run: |
          set gh=%GITHUB_REF_NAME%
          echo "this > %GITHUB_REF_NAME% < is it too?"
          echo "this > %gh% < is it too?"
          echo "env: > $env:GITHUB_REF_NAME"
          
          $env:main_repo_branch=$env:GITHUB_REF_NAME
          set env:mm=$env:GITHUB_REF_NAME
          # if [[ ${main_repo_branch} != "master" && ${main_repo_branch} != "development" && ${main_repo_branch} != "experimental" && ${main_repo_branch} != *"osb"* ]]; then main_repo_branch=development ; fi
          if ( $env:main_repo_branch -ne "master" -and $env:main_repo_branch -ne "development" -and $env:main_repo_branch -ne "experimental" -and $env:main_repo_branch  -notlike '*osb*' ) { $env:main_repo_branch="development" }
          echo "Using branch $env:main_repo_branch..."
          echo "Using branch 2 $env:mm..."
          
          ls
          tree
          
      - name: Test svn
        run: |
          echo "back again?"
          svn --version
          # svn co https://svn.code.sf.net/p/neuroml/code/jNeuroMLJar 
          svn checkout svn://svn.code.sf.net/p/neuroml/code/trunk neuroml-code
          pwd
          env
        shell: bash
          
